.section-4 {
    background-color: #f2ecc2;
    margin-top: -200px;
    opacity: 1;

    &__title {
        @include adaptiv-font(62, 31);
        // line-height: 72px;
        color: #0E0E75;
        font-style: normal;
        margin-left: 13vw;
        margin-bottom: 10%;
        opacity: 0;
    }

    &__main {
        background-image: url('../../img/Union3.png');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
    }

    &__item-wrapper {
        width: 14vw;
        position: relative;
        display: inline-block;
    }

    &__item-img {
        width: 14vw;
    }

    &__list {
        display: flex;
        justify-content: center;
        transform: translateY(-35%);

        &-item {
            margin-right: 7%;
            list-style-type: none;
            display: flex;
            flex-direction: column;

            &:last-child {
                margin-right: 0;
            }

            &:nth-child(1) .section-4__item-wrapper::before {
                content: url('../../img/Frame18.png');
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:nth-child(2) .section-4__item-wrapper::before {
                content: url('../../img/Frame19.png');
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
            }

            &:nth-child(3) .section-4__item-wrapper::before {
                content: url('../../img/Frame17.png');
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
            }

            &:nth-child(4) .section-4__item-wrapper::before {
                content: url('../../img/Frame16.png');
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
            }
        }

        &-desc {
            @include adaptiv-font(28, 13);
            font-style: normal;
            // line-height: 28px;
            color: #0E0E75;
            text-align: center;
            margin-top: 24px;
        }

    }

    &__dosage {
        width: 100%;
        display: flex;
        opacity: 0;
    }

    &__dosage-item {
        list-style-type: none;
        margin-bottom: 5%;

        div {
            background: #FFFFFF;
            border-radius: 20px;
            height: 12vh;
            padding: 2% 2%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span:nth-child(1) {
                @include adaptiv-font(28, 12);
                font-style: normal;
                // font-size: 28px;
                // line-height: 28px;
                color: #EE3F22;
            }

            span:nth-child(2) {
                @include adaptiv-font(28, 12);
                font-style: normal;
                // font-size: 28px;
                // line-height: 28px;
                color: #000000;
                margin-right: 7%;
            }
        }
    }

    &__dosage-title {
        @include adaptiv-font(70, 33);
        // line-height: 72px;
        color: #0E0E75;
    }

    &__man {
        margin-left: 7%;
        margin-bottom: 15%;
        width: 43vw;
    }

    &__dosage-desc {
        transform: translateX(-5%);
    }

    &__dosage-list {
        padding: 0;
    }

}