.section-1 {
    background-image: url('../../img/Ellipse 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f2ecc2;

    &__title {
        @include adaptiv-font(70, 10);
        color: #ffff;
        margin: 0;
        padding-top: 137px;
        display: flex;
        justify-content: center;
    }

    &__subtitle {
        @include adaptiv-font(144, 60);
        font-weight: bold;
        // line-height: 152px;
    }

    &__description {
        @include adaptiv-font(70, 30);
        display: block;
        margin-left: 2%;
        font-style: normal;
        font-weight: bold;
        // line-height: 72px;
    }

    &__main {
        height: 60vmax;
        width: 100%;
    }

    &__list {
        padding: 0;
        z-index: 99;
        position: relative;
        left: 49%;
    }

    &__item {
        @include adaptiv-font(24, 14);
        color: #ffffff;
        font-family: 'Noah-Regular, sans-serif';
        font-style: normal;
        font-weight: normal;
        // line-height: 24px;
        list-style-type: none;
        display: flex;
        align-items: center; 
        margin-top: 21px;
    }

    &__img {
        margin-right: 28px / 1440px * 100%;
        width: 40px / 1440px * 100%;
    }
}

.actions {
    padding: 0;
    z-index: 99;
    position: relative;
    left: 49%;

    &__btn {
        @include adaptiv-font(24, 14);
        width: 237px / 1440px * 100%;
        margin-top: 32px;
        padding: 1% 0;
        font-style: normal;
        font-weight: bold;
        // line-height: 28px;
        border-radius: 60px;
        background-color: transparent;
        color: #ffff;
        border: 1px solid #ffff;

        &:hover {
            cursor: pointer;
            color: #F0CE4C
        }
        &:active {
            cursor: pointer;
            background-color: grey;
            color: black;
        }
    }

    &__btn:last-child {
        @include adaptiv-font(24, 14);
        width: 237px / 1440px * 100%;
        padding: 1% 0;
        font-style: normal;
        font-weight: bold;
        // line-height: 28px;
        border-radius: 60px;
        background-color: $activeBtn;
        color: #ffff;
        border: 1px solid #ffff;
        margin-left: 3%;
        border: none;
    
        &:hover {
            cursor: pointer;
            color: #F0CE4C
        }
    
        &:active {
            cursor: pointer;
            background-color: grey;
            color: black;
        }
    }
}

.paralax {
    background-image: url('../../img/slide_side2 2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60vmax;
    position: relative;
    bottom: 300px;
    width: 100vw;
    transform-style: preserve-3d;
    overflow: hidden;

    &__guy {
        position: absolute;
        top: 0px;
        left: 60px;
        z-index: 100;
        width: 39vw;
    }

    &__snow {
        position: absolute;
        left: 60px;
        top: 100px;
        width: 41vw;
    }
}
